{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="image-section relative">
    <div class="blurry-bg"></div>
    <img src="{% static 'images/about_background.png' %}" alt="CareWell Hospital" class="background-img">

    <div class="content-wrapper">
        <div class="hero-section text-center">
            <h2 class="text-4xl font-bold">Dermatology</h2>
            <p class="text-xl mt-2">"Healthy skin, healthy you"</p>
        </div>

        <div class="about-content text-center mt-10 p-6 max-w-4xl mx-auto bg-white rounded-lg shadow-md">
          <p class="text-lg leading-relaxed">
            Our Dermatology Department offers advanced care for skin, hair, and nail conditions.
            We treat acne, eczema, fungal infections, psoriasis, and perform aesthetic procedures
            like chemical peels and laser therapy. Personalized skincare plans are designed to
            meet each patient's unique needs.
          </p>
        </div>
    </div>
</section>
{% endblock %}

