{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="image-section relative">
    <div class="background-image"></div>
    <img src="{% static 'images/home_background.png' %}" alt="CareWell Hospital" class="background-img">

</section>

<div class="scrolling-text">
    <p>It is preferable to bring any of your identity card approved by Govt. India (Aadhar card, Driving license, Voter ID etc) when you are coming to CareWell for Doctor consultation.</p>
</div>
{% endblock %}

