{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password - CareWell</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="{% static 'patients/css/style.css' %}">
</head>
<body>
<div class="background-overlay">
    <div class="wrapper">        
            <form method="post" action="">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <h2>Forgot Password</h2>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label>Email Address</label>
                </div>
                <button type="submit">Send Reset Link</button>
                <div class="signUp-link">
                    <p>Back to <a href="{% url 'login' %}">Login</a></p>
                </div>
            </form>        
    </div>
</div>
<script src="{% static 'patients/js/script.js' %}"></script>
</body>
</html>
